#footer {
    position: fixed;
    top: calc(96vh + 3px);
    right: 1em;
    float: right;
    min-width: 20vw;
    height: calc(3vh - 2px);
    justify-content: end;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    z-index: 20;
    width: calc(100% - 1em);
}
#footer-btn {
    border: none;
    overflow: hidden;
    padding-inline: 10px;
    word-break:normal;
    white-space: nowrap;
    border-radius: 7px;
    float: right;
    color: white;
    background-color: #5856d6;
}