
/* Centralizar botões dentro do corpo dos modais de opções */
.acoes .btn-lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}



.btn {
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 0.5em;
    border: none;
}

.relatorios-botoes {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.card-header-lancamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-header-lancamento div,
.card-header-lancamento div button {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-header #btn-analitico,
.card-header #btn-sintetico {
    background-color: transparent;
    border-radius: 0;
    align-items: center;
    align-items: center;
    box-shadow: none;
}

.inputs-dre-text-analitico div input {
    border-radius: 0;
}

.card-header #btn-analitico:hover,
.card-header #btn-sintetico:hover,
.btn-dre-selecionado {
        border-bottom: 2px solid #5856d6;
}


.card-header {
    gap: 0;
}


.card-header .btn-primary h3 {
    color: black;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}
.form-check-input[type="radio"] {
    width: 1em;
    height: 1em;
    box-shadow: none;
    border-radius: 50%;
}

.form-check-input[type="radio"]:checked {
    background-color: #5856d6;
}

.form-pagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs-pagamento-group {
    width: 45%;
    height: 100%;
}
.selects-pagamento{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.radio-pagamento {
    display: flex;
    flex-direction: row;
}
.radio-pagamento div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.radio-pagamento label {
    font-size: 90%;
}

.inputs-pagamento-text {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    height: 25%;
    width: 100%;
}
.inputs-pagamento-select {
    display: flex; 
    flex-direction: row; 
    height: 40%;
    width: 100%;
}

.btn-filtro {
    width: 10%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}

.btn-filtro button,
.btn-filtro a {
    width: 100%;
    text-align: center;
    font-size:90%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.inputs-dre {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
}

.inputs-dre-text {
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: calc(75% + 1%);
    justify-content: space-between;
}



.data-dre {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.titulos-dre {
    display: flex;
    flex-direction: row;
    width: 45%;
}






.data-dre div,
.titulos-dre div {
    width: 100%;
}



.inputs-dre-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:calc(25% -1%);
    align-items: center;

}

.botoes-acao,
.botoes-gerar {
    width: 90%;
    gap: 1%;
    display: flex;

}






.inputs-dre-btn button,
.inputs-dre-btn a {
    width: 100%;
    font-size:90%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.inputs-dre-text input {
    font-size: 100%;
}
.inputs-dre-text div {
    width: 100%;
}

#total-receitas,
#total-despesas,
#total-dre {
    font-size: 1rem;
}
#total-vencido,
#total-a-vencer,
#total-vence-hoje {
    font-size: 110%;
}

#div-registro-vazio-dre {
    border-top: 1px solid #d2d2d2;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-registro-vazio-dre h3{
    text-align: center;
    color:rgba(53, 53, 53);
}

#botao-gerar-pdf {
    background-color: rgba(223, 0, 0);
    color: white;
    box-shadow: none;
    border-radius: none;
}
#botao-gerar-pdf:hover {
    background-color: rgba(190, 0, 0);
}

#botao-gerar-excel {
    background-color: rgba(9, 118, 64);
    color: white;
    box-shadow: none;
    border-radius: none;
}
#botao-gerar-excel:hover {
    background-color: rgb(7, 94, 50);
}

.tabela-edit {
    width: 100%;
    max-width: 100%;
}
.tabela-edit table {
    width: 100%;
    margin-bottom: 0.5em;
}


.td-acoes {
    width: 3%;
}
.tr-clientes-header th {
    font-size: 90%;
}

.tr-clientes-header th a {
  text-decoration: none;
  color: black;
}


.card-select-pagina form {
    display: flex;
    float: left;
    flex-direction: row;
}

.card-select-pagina {
    float: left;
   
}



.card-select-numero {
    float: right;
   
}
    
#receber-hoje .card .card-header,
#receber-semana .card .card-header,
#receber-vencidos .card .card-header
 {
    display: flex;
    flex-direction: row;
}



.dash-titulo-receber {
    padding: 0;
    width: 50%;
    border-left: 1px solid #d2d2d2 ;
}
.dash-titulo-receber h3{
    font-size: 90%;
    float: right;
}

.dash-categoria-receber {
    padding: 0;
    width: 50%;
}
.dash-categoria-receber h3{
    font-size: 90%;
    float: left;
}



tbody, thead{
    overflow: scroll;
    white-space: nowrap;
    text-overflow: clip;
    min-width: none;
    white-space: nowrap;
}


.botoes-contas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}






.parcela_cor_azul td,
.parcela_cor_azul th,
.parcela_cor_azul td button,
.parcela_cor_azul td button:disabled {
  background-color: #287dfc7a !important; /* azul de exemplo */
  color: black;
}
.parcela_cor_azul td button:hover {
      background-color: #0066ffcb !important; /* azul de exemplo */
  color: black;
}

.parcela_cor_amarela td,
.parcela_cor_amarela th,
.parcela_cor_amarela td button,
.parcela_cor_amarela td button:disabled {
  background-color: #fbff127a !important;
  color: black;
}
.parcela_cor_amarela td button:hover {
      background-color: #eeff00 !important; /* azul de exemplo */
  color: black;
}

.parcela_cor_vermelha td,
.parcela_cor_vermelha th,
.parcela_cor_vermelha td button,
.parcela_cor_vermelha td button:disabled {
  background-color: #ff30307a !important; /* azul de exemplo */
  color: black;
}
.parcela_cor_vermelha td button:hover {
      background-color: #ff1212cb !important; /* azul de exemplo */
  color: black;
}

.parcela_cor_verde td, 
.parcela_cor_verde td button,
.parcela_cor_verde td button:disabled {
  background-color: #30ff3a7a !important; /* azul de exemplo */
  color: black;
}

.parcela_cor_verde td button:hover {
      background-color: #49ff12cb !important; /* azul de exemplo */
  color: black;
}

/* Garantir que o card-footer ocupe toda a largura do card e alinhe o botão à direita */
.card-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    box-shadow: none;
    padding: 1em 1.5em 1em 1.5em;
    min-height: 3em;
    justify-content: space-between;
}

.card-footer div {
    align-items: center;
    margin: none;
}

.card {
    position: relative;
    width: 100%;
    padding: 0;
}


#container .card {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.custom-accordion {
    border: 0;
    min-width: 75%;
    border: 1px solid #d3d4d4;
}
/* Accordions customizados */

.custom-accordion .accordion-item {
    border: none;
    background: #fff;
    border: 1px solid #dbdfe6;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    border-radius: 0;
    min-height: 38px;
}


.custom-accordion .accordion-button {
    border-radius: 8px;
    background: #fff;
    color: #222;
    font-weight: 500;
    box-shadow: none;
    border: none;
    transition: background 0.2s;
    min-height: 38px;
    padding: 0.4em 1em;
    font-size: 1em;
}


.custom-accordion .accordion-button:not(.collapsed) {
    background: #f5f6fa;
    color: #5856d6;
}

.custom-accordion .accordion-button:after {
    color: #5856d6;
    font-size: 1.2em;
}


.custom-accordion .accordion-body {
    border-top: 1px solid #eee;
    background: #fafbfc;
    border-radius: 0 0 8px 8px;
    padding: 0.75em 1.25em;
    font-size: 0.98em;
}

.inner-accordion {

    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
        background-color: #f1f3f6;

    font-family: Arial, sans-serif;
}


.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f6;
    min-height: calc(100% - 6%);
    top: 6%;
    width: calc(100% - 16%);
    left: 16%;
    padding: 5%;
    align-items: center;
}

.main-edit {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f6;
    min-height: calc(100vh - 4.5em);
    top: 1em;
    width: calc(100% - 16%);
    left: 16%;
}

.card-header-div {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.card-header-borda {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 75%;
    max-width: 95%;
    border-radius: 0.5em;
    border: 1px solid #dfe0e1;
    padding: 1em;
    background-color: #f8f8f9;
}

.input-documento-group,
.input-pagamento-group,
.titulo-group,
.subtitulo-group {
    display: flex;
    flex-direction: row;
}



.input-documento,
.input-pagamento-div {
    width: 90%;
}



.input-documento input,
.input-valor input,
.input-parcelas input,
.input-pagamento select {
    height: 2.75em;
}

.subtitulo-dre select {
    border-radius: 0;
}

.input-documento .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

.input-documento-generator,
.input-pagamento-btn {
    width: 10%;
    height: 3em;
}

.input-documento-generator button,
.input-pagamento-btn button,
.titulo-btn button,
.subtitulo-btn button {
    text-align: center;
    width: 100%;
    height: 2.75em;
}

.input-documento-generator .form-control,
.input-pagamento-btn .form-control,
.titulo-btn .form-control,
.subtitulo-btn .form-control {
    border-radius: 0;
}

.table {
    margin-left: auto;
    margin-right: auto;
}





.inner-accordion .table {
    margin-top: 1em;
}




.input-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 38px;
}

.conta-header {
    float: right;
    position: relative;
}



.input-form-adm {
    margin-bottom: 1em;
}

.form-control {
    margin-bottom: 0.5em;
}

.input-form-adm-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-form-adm-group {
    width:100%
}

.input-cidade,
.input-bairro,
.input-estado,
.input-categoria {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0;
}

.input-cidade .choices__inner,
.input-bairro .choices__inner,
.input-estado .choices__inner,
.input-categoria .choices__inner {
    border-radius: 0;
}


.input-modal-div-select {
    width: 70%;
}

.input-modal-div-select-estado {
    width: 100%;
}

.input-modal-div-select-categoria {
    width: 90%;
}

.input-modal-div-btn-categoria {
    width: 10%;
}

.input-modal-div-btn {
    width: 30%;
}

.input-modal-div-btn button,
.input-modal-div-btn-categoria button {
    width: 100%;
    border-radius: 0;
    height: 2.75em;
}

.input-form-contato-adm-group {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.accordion-button {
    background-color: transparent;  
        display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    color: whitesmoke;
    
}

.accordion {
    background-color: transparent;
    color: transparent;
}




.row label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 90%;
}

.tabela {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background-color: white;
    min-width: 100%;
}

.tabela-edit {
        position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    left: 5em;
    bottom: 5em;
    width: 90%;
    top: 0.05em;
    min-height: 100%;
}

.tabela-lancamento table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
}

.tabela-lancamento td {
    font-size: 75%;
}

.tabela-lancamento th {
    font-size: 70%;
}

.tabela-lancamento th,
.tabela-lancamento td {
    padding: 0.3em;
    white-space: nowrap;
    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-overflow: clip;
}


.card-body {
    overflow-x: auto;
    max-width: 100%;
}

.tabela-lancamento table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.tabela-lancamento th,
.tabela-lancamento td {
    overflow: auto;
    text-align: center;
    padding: 0.4em;
    text-overflow: ellipsis; 
    max-width: 120px;    
    font-size: 0.9em;
    vertical-align: middle;
}
.tabela-lancamento td {
    white-space: nowrap;
}
.tabela-lancamento th {
    white-space: wrap;
}
.tabela-lancamento-body {
    overflow: auto;
    overflow-x: auto;
    max-width: 100%;
}

.tabela-lancamento {
    overflow: auto;
    position: relative;
    max-width: 100%;
}


.card p {
    color: #00000096;
}




.titulo-tabela {
    position: relative;
    padding-top: 1em;
}

.titulo-tabela p {
    font-size: 1.5em;
}


.input-form-contato-adm-group div {
    width:calc(100% / 2);
}


.btn-primary {
    background-color: #5856d6;
    border: none;
    align-items: center;
    box-shadow: none;
}


.btn-primary:hover {
    background-color: #4b49b6;
}

#userBtn {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #181f2b;
    outline: none;
    cursor: pointer;
}

#userMenu {
    display: none;
    position: absolute;
    top: 2.5em;
    right: 0;
    background: #fff;
    border: 1px solid #dbdfe6;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    min-width: 120px;
    padding: 0.5em 1em;
}
/* Estilo para o menu suspenso do usuário */

.acoes {
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
}


#userBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.3em;
    position: relative;
}

#userMenu {
    display: none;
    position: absolute;
    top: 2.2em;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    min-width: 120px;

    padding: 0.5em 0;
}
#userMenu a {
    display: flex;
    align-items: center;
    padding: 1em;
    color: #181f2b;
    text-decoration: none;
    font-size: 1em;
    gap: 0.5em;
    border-radius: 0.3em;
    transition: background 0.2s;
}
#userMenu a:hover {
    background: #f3f4f7;
}

@keyframes encolher-header {
      0% {
        left: 16em;
      }
      100% {
        left: 0;
        width: 100%;

      }
    }

@keyframes expandir-header {
      0% {
        
        left: 0;
        width: 100%;

      }
      100% {
        left: 16em;
        
        
      }
    }

@keyframes expandir-container {
      0% {
        
        left: 0;
        

      }
      100% {
        left: 16em;
        width: 100%;
        
      }
    }

@keyframes encolher {
    from {
        left: 0;
        

    }

    to {
        left: -16em;
    }
}

@keyframes expandir {
    from {
        left: -16em;

    }

    to {
        left: 0;
        
    }
}


@keyframes forwards {
    0% {

        background-color: transparent;
        border-radius: 0;

    }

    100% {
        
        background-color: #2a303d;
        border-radius: 0.5em;
    }
}

@keyframes forwards {
    0% {

        background-color: transparent;
        border-radius: 0;

    }

    100% {
        
        background-color: #2a303d;
        border-radius: 0.5em;
    }
}

@keyframes forwards-mini {
    0% {

        background-color: transparent;
        border-radius: 0;

    }

    100% {
        
        background-color: #212631b0;
        border-radius: 0.5em;
    }
}


@keyframes forwards-superior {
    from {border: 2px solid #2a2f366c;
        border-radius: 0;
        font-size: 1.1em;
    }
    to {
        border: 2px solid #2a2f366c;
        border-radius: 1.5em;
        font-size: 1.2em;
    }

    from {
        border: 2px solid #2a2f366c;
        border-radius: 1.5em;
        font-size: 1.3em;
    }

    to {
        border: 2px solid white;
        background-color: #252b36;
        border-radius: 1em;
        font-size: 1em;
    }
}

#card-titulo {
    font-size: 1.5em;
    color: #181f2b;
    margin-bottom: 0.5em;
}

#card-sub {
    font-size: 1em;
    color: #6a6e76;
    margin-bottom: 1em;
}

.card {
    box-shadow: none;
}

.card input{
    height: 2.4em;
    border-radius: 0 5px 5px 0;
}

.input-icon {
    border: 1px solid #dbdfe6;
    border-right:none;
    height: 2.4em;
    background-color: #f3f4f7;
    border-radius: 5px 0 0 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-icon i {
    color: #3c424b;
    font-size: 1.2em;
    padding: 0.5em;
}

.login-card {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.edit-card {
    border: 1px solid #d5d6d6;
    border-radius: 0.5em;
    background-color: white;
    padding: 2em;
    position: relative;
    min-width: 80em;
    justify-content: center;
    align-items: center;
}

#menu-superior {
    position: fixed;
width: 100%;
    height: 5%;

}

#titulo-container {   
    display: none;
    width: 0;
    height: 0;
}

#titulo-header {
    
    display: flex;
    align-items: center;     
    height: auto;            
    width: 100%;

}





.superior-item {
    display: none;
}






#barra-lateral {
    width: 16%;
    height: 100%;
    background-color: #212631;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.botoes-gestor,
.botoes-admin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    gap: 5%;
}

.botoes-gestor div,
.botoes-admin div {
    width: 100%;
    
}

.botoes-gestor div button,
.botoes-gestor div a,
.botoes-admin div button,
.botoes-admin div a{
    width: 100%;
    text-align: center;
    font-size:90%;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#logo-container {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #323a49;
    background-color: #212631;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}




#header {
    display:flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    left: 16%;
    width: calc(100vw - 16%);
    min-width: 0;
    height: 6%;
    border-bottom: 2px solid #dbdfe6;
    z-index: 20;

}





#header p {
    font-size: 1.2rem;
    padding-left: 2em;
    color: #00000070;
}



#itens-menu {
    position: relative;
    top:0.5em;
    left: 0.5em;
    white-space: nowrap;
    text-overflow: clip;
    width: calc(90%);
    display: flex;
    flex-direction: column;
    
}

.menu-item {
    margin-top: 1px;
    position: relative;
    min-height: 3em;
    font-size: 1em;
    text-align: center;
}

.menu-item a {
    gap: 0.5em;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: whitesmoke;
    text-align: center;
    font-size: 90%;
}

.menu-item .nav-link {
    display: flex !important;
    align-items: center;       /* alinha ícone e texto verticalmente */
    justify-content: flex-start;   /* centraliza horizontalmente */
    gap: 0.9em;                 /* espaço entre ícone e texto */
    padding-left: 1.5em !important;
    text-decoration: none;
    color: whitesmoke !important;
}
.menu-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.2em; /* largura fixa pro ícone */
}


.menu-item:hover,
.menu-item-atual {
    animation-name: forwards;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.btn-toggle-nav li:hover {
    animation-name: forwards-mini;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
